streamlit==1.19.0
altair<5

numpy>=1.26
pandas>=2.0
scipy>=1.11

matplotlib>=3.7
seaborn>=0.12
plotly>=5.18

scikit-learn>=1.2
statsmodels>=0.13
networkx>=3.1

wordcloud>=1.9
reportlab>=4.0
prophet>=1.1.5
